<%= form_tag configured_services_path(type: params[:type]), method: :post,
             class: 'form-horizontal' do %>
  <%= render_fields %>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-11">
      <% term = @service_class.terminology.configured_service.titleize %>
      <%= button_tag icon('plus', 'Add ' + term), class: 'btn btn-success' %>
      <%= link_to icon('close', 'Cancel'), :back, role: :button,
                  class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
