#integrations-index {
  table {
    table-layout: fixed;

    td {
      cursor: pointer;
    }

    .integration-details {
      display: none;

      td {
        border: none;
      }

      .well {
        margin: 0 20px;
      }

      blockquote {
        font-size: inherit;
      }
    }
  }
}

#integrations-new {
  td:first-child {
    width: 33px;
  }

  .choices, .choice:not(:first-of-type), #finalize-integration {
    display: none;
  }

  tr:first-child h4 + .choices {
    display: inline;
  }

  .service img {
    width: 123px;
    height: 123px;
  }

  .action a i {
    color: #337ab7;
  }

  .choice-radio {
    .action-complete {
      display: none;
    }

    .radio + .action-add + .action-complete {
      display: inline;
    }
  }

  .action-revisit {
    display: none;
  }

  #choices-alert {
    #choice-pattern {
      margin-top: 20px;

      label {
        font-weight: normal;
      }

      #rule_class_name_form_group {
        margin-bottom: 10px;
      }

      .dynamic-rule-field {
        display: none;

        &.form-group {
          margin-bottom: 10px;
        }
      }
    }
  }
}
