#new-integration {
  td:first-child {
    width: 33px;
  }

  h4 i {
    display: none;
  }

  .choices, .choice:not(:first-of-type), #finalize-integration {
    display: none;
  }

  tr:first-child h4 + .choices {
    display: inline;
  }

  .action a i {
    color: #337ab7;
  }

  .action-revisit {
    display: none;
  }

  form:not(.form-paragraph) {
    .action-complete {
      display: none;
    }

    .radio + .action-add + .action-complete {
      display: inline;
    }
  }

  #choices-data-source {
    #choice-data-source-service {
      img {
        width: 123px;
        height: 123px;
      }
    }
  }

  #choices-alert {
    #choice-pattern {
      margin-top: 20px;
    }
  }
}
