.table-borderless > thead > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > td {
  border: none;
}

.collection-actions {
  margin-bottom: 18px;
}

.member-actions {
  margin-right: 12px;

  i {
    margin-right: 3px;
  }
}

.btn-delete {
  float: right;
}
